

.series-destaque .container{
    padding-top: 3vh;
}

.series-destaque .titulo{
    font-size: 30px;
}

.series-destaque .itens{
    display: flex;
    flex-wrap: wrap;
    
}    
.series-destaque .item{
    padding: 2vh 1vw;
}